nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #D8CFBC;
    color: black;
}

footer{
    color: #11120D;
    background: linear-gradient(90deg, #565449, #D8CFBC);
    left: 0;
    width: 45%;
    text-align: center;
    border: solid 3pt white;
    border-radius: 100px;
    padding: 1%;
    margin: 0 auto;
    position: relative; }

header{
    color: #11120D;
    background: linear-gradient(90deg, #565449, #D8CFBC);
    left: 0;
    width: 45%;
    text-align: center;
    border: solid 3pt white;
    border-radius: 100px;
    padding: 1%;
    margin: 0 auto;
    position: relative;
}

div#kodu{
    padding: 2%;
    border: solid 1pt black;
    margin: 10px;
    text-align: center;

}

img {
    width: 100px;
}

div#koolivaheaeg, #minusunnipaev, #kuupaev, #hooaeg, #vanus, #samatoo {
    width: 50%;
    padding: 2%;
    border: solid 1pt black;
    margin: 10px;
}