nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #E6DDDA;
    color: black;
}

footer{
    bottom: 0;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #9D837F, #EDDAD4);
    height: 2em;
    left: 0;
    padding: 1%;
    position: fixed;
    font-size: small;
    width: 45%;
    text-align: center;
    border: solid 3pt white;
    border-radius: 100px;
    margin: 0 auto;
 }

div#kodu{
    padding: 2%;
    border: solid 1pt black;
    margin: 10px;
}